/*
    place extra stylesheet here
*/
.pane {
  width: 400px;
  margin: auto;
}

.scroll_height {
  height: 400px;
  overflow-y: scroll;
  padding-top: 20px;
}


.say {
  height: 25px;
  margin-top: 30px;
  border-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;
}

.msg_row {
  min-height: 60px;
}

.border_row {
  height: 10px;
  border-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;
}

.ImageContainer img {
    border: solid 2px #999;
}

.header {
    display: flex;
    justify-content: center;
}

.title {
    margin: 10px;
}

.main {
    margin: 0 auto;
}

.board {
    width: 80%;
    height: 500px;
    overflow: scroll;
    height: 500px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.mt10 {
    margin: 10px 0;
}

.redirect {
    display: flex;
    margin: 5px auto;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.m5 {
    margin: 5px;
}

.msg-block {
    width: 60%;
}